npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos react da pasta Desenvolvimento Front-End
Desenvolvimento Front-End/.vscode
Desenvolvimento Front-End/node_modules
Desenvolvimento Front-End/README.md
Desenvolvimento Front-End/package-lock.json
Desenvolvimento Front-End/package.json
Desenvolvimento Front-End/public/favicon.ico
Desenvolvimento Front-End/public/index.html
Desenvolvimento Front-End/public/logo192.png
Desenvolvimento Front-End/public/logo512.png
Desenvolvimento Front-End/public/manifest.json
Desenvolvimento Front-End/public/robots.txt
Desenvolvimento Front-End/src/App.css
Desenvolvimento Front-End/src/App.js
Desenvolvimento Front-End/src/App.test.js
Desenvolvimento Front-End/src/index.css
Desenvolvimento Front-End/src/index.js
Desenvolvimento Front-End/src/logo.svg
Desenvolvimento Front-End/src/reportWebVitals.js
Desenvolvimento Front-End/src/setupTests.js

