.all-box {
  display: flex;
  flex-direction: column;
}

.header {
  align-self: center;
  border: solid black 0.5px;
}

.pokemon-box {
  border: solid black 0.5px;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  flex-wrap:wrap; /* this */
}

.character-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 10%;
}
